<div class="main-page">
  <mat-card style="max-width: 300px; text-align: center;">
    <mat-card-title>
      <h1>Welcome to myFlix!</h1>
    </mat-card-title>
    <mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" color="primary">
          Sign Up
        </button>
        <button mat-raised-button color="primary" (click)="openUserLoginDialog()" style="margin-right: 10px;">
          Login
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>